@font-face {
    font-family: 'Insta';
    src: url('./fonts/Demo_Fonts/Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf ') format('opentype');

}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(183, 182, 182);

}

main {
    background-color: white;
    width: 31%;
    height: 100vh;
    position: relative;



}

header {
    width: 92%;
    margin: auto;
}

.comeco_bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-bottom: 15px;

}

.comeco_bar h1 {
    font-family: 'Insta';
    font-weight: normal;

}

#coracao {
    margin-left: 40px;
}

#camera {
    margin-right: 70px;
}

.story {
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.story_perfil img {
    border-radius: 50%;
    border: solid 2px rgb(215, 127, 5);

    margin-right: 2px;

}


.perfil {
    display: flex;

}

.perfil_2 {
    width: 84%;
    display: flex;
    margin: auto;

}

.perfil_2 img {
    border-radius: 50%;
    border: solid 2px rgb(215, 127, 5);
}

.perfil_2 p {
    margin-left: 10px;
    margin-top: 8px;
}
.avaliacao{
    display:flex;
    justify-content: space-between;
    width: 27%;
}

#trespontos {
    margin: auto;
}

.post {}

nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    position: absolute;
    bottom: 1%;
    margin-left: 20px;

    
    
}
#profile_nav img{
    border-radius: 50%;
}