@font-face {
    font-family: 'Insta';
    src: url('./fonts/Demo_Fonts/Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf ') format('opentype');

}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(183, 182, 182);

}

main {
    background-color: white;
    width: 31%;
    height: 100vh;
    max-height:100vh ;
    overflow: scroll;
   



}


header {
    width: 100%;
    margin: auto;
   
}

.comeco_bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    margin-bottom: 15px;
    position: fixed;
    width: 30%;
  
   

}

.comeco_bar h1 {
    font-family: 'Insta';
    font-weight: normal;

}

#coracao {
    margin-left: 40px;
}

#camera {
    margin-right: 70px;
}

.story {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    
}
.story_perfil{
    margin-top: 59px;
}
.story_perfil img {
    border-radius: 50%;
    border: solid 2px rgb(215, 127, 5);

    margin-right: 2px;

}


.perfil {
    display: flex;
    

}

.perfil_2 {
    width: 79%;
    display: flex;
    margin: auto;

}

.perfil_2 img {
    border-radius: 50%;
    border: solid 2px rgb(215, 127, 5);
}

.perfil_2 p {
    margin-left: 10px;
    margin-top: 13px;
}
.avaliacao{
    display:flex;
    justify-content: space-between;
    width: 27%;
}
#curtida{
    font-weight: bold;
}
#comentario{
    color: rgb(118, 116, 116);
}

#trespontos {
    margin: auto;
}



.nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 30%;
    margin: auto;
   
    bottom: 0;
    position: fixed;
    
}

#profile_nav img{
    border-radius: 50%;
}
.Anthony{
    margin-bottom: 60px;
}
.bio{
    margin-left: 10px;
}
